@value primary from "styles/utils/variables.css";

:global {
  .griddle-settings-toggle {
    float: right !important;
    width: auto !important;
    background: primary;
    .settings {
      font-size: 1rem !important;
      padding: 1rem 1.25rem !important;
      border-radius: 3px;
    }
  }
  .griddle-column-selection {
    input {
      width: auto;
      margin: 5px 5px 5px 0;
    }
  }
}
