@value primary from "styles/utils/colors.css";

.main {
  border-top: 4px solid primary;
  float: right;
  width: calc(100% - 300px);
  height: calc(100vh - 60px);
  padding: 1.5rem;
  overflow-y: scroll;
}
